demo/src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:smb="http://www.mulesoft.org/schema/mule/smb" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/smb http://www.mulesoft.org/schema/mule/smb/current/mule-smb.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router" />
    <smb:config name="SMB_Connector__Configuration" host="${host}" doc:name="SMB Connector: Configuration" domain="${domain}" fileage="${fileage}" password="${pass}" share="${share}" timeout="${timeout}" username="${user}"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="api-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/directory/{directory}:api-config">
        <smb:directory-list config-ref="SMB_Connector__Configuration" doc:name="SMB Connector" dirName="#[flowVars.directory]"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property" />
            <set-payload value="{ &quot;successful&quot; : &quot;false&quot; }" doc:name="Set Payload" />
        </catch-exception-strategy>
    </flow>
    <flow name="post:/directory/{directory}:api-config">
        <smb:directory-create config-ref="SMB_Connector__Configuration" dirName="#[flowVars.directory]" doc:name="SMB Connector"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property" />
            <set-payload value="{ &quot;successful&quot; : &quot;false&quot; }" doc:name="Set Payload" />
        </catch-exception-strategy>
    </flow>
    <flow name="delete:/directory/{directory}:api-config">
        <smb:directory-delete config-ref="SMB_Connector__Configuration" dirName="#[flowVars.directory]" doc:name="SMB Connector" recursive="true"/>
        <set-payload value="{ &quot;successful&quot; : &quot;true&quot; }" doc:name="Set Payload" />
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property" />
            <set-payload value="{ &quot;successful&quot; : &quot;false&quot; }" doc:name="Set Payload" />
        </catch-exception-strategy>
    </flow>
    <flow name="get:/file/{directory}/{filename}:api-config">
        <smb:file-read config-ref="SMB_Connector__Configuration" dirName="#[flowVars.directory]" fileName="#[flowVars.filename]" autoDelete="true" doc:name="SMB Connector"/>
    	    <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="{ &quot;successful&quot; : &quot;false&quot; }" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="put:/file/{directory}/{filename}:api-config">
        <smb:file-write config-ref="SMB_Connector__Configuration" fileName="#[flowVars.file_name]" append="true" doc:name="SMB Connector"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="{ &quot;successful&quot; : &quot;false&quot; }" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="post:/file/{directory}/{filename}:api-config">
        <smb:file-write config-ref="SMB_Connector__Configuration" fileName="#[flowVars.filename]" doc:name="SMB Connector" append="true" dirName="#[flowVars.directory]"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="{ &quot;successful&quot; : &quot;false&quot; }" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="delete:/file/{directory}/{filename}:api-config">
        <smb:file-delete config-ref="SMB_Connector__Configuration" fileName="#[flowVars.filename]" doc:name="SMB Connector" dirName="#[flowVars.directory]"/>
        <set-payload value="{ &quot;successful&quot; : &quot;true&quot; }" doc:name="Set Payload"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="{ &quot;successful&quot; : &quot;false&quot; }" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
